@mixin mobile {
    @media screen and (max-width:480px) {
        @content
    }
}

.navbar {
    padding: 20px 100px;

    @include mobile {
        padding: 20px 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            justify-content: center;
        }

        .toggle-menu-icon {
            display: none;


            &.cross {
                position: absolute;
                top: 26px;
                left: 20px;
            }

            &.bar {
                position: absolute;
                right: 20px;
            }

            @include mobile {
                display: block;
                font-size: 30px;
            }
        }

        .menu {
            display: flex;
            gap: 25px;
            position: relative;

            @include mobile {
                position: fixed;
                top: 0;
                z-index: 10;
                height: 100vh;
                width: 200px;
                background-color: #ff004f;
                flex-direction: column;
                // padding-top: 10px;
                transition: right 0.5s;

                &.off {
                    right: -200px;
                }

                &.onn {
                    right: 0;
                }
            }

            .menu-item {
                cursor: pointer;

                @include mobile {
                    margin-left: 20px;

                    &.homeLink {
                        margin-top: 70px;
                    }
                }

                a {
                    transition: 0.3s;

                    &.active {
                        color: #ff004f;
                    }

                    &:hover {
                        color: #ff004f;
                    }

                    @include mobile {

                        &.active,
                        &:hover {
                            color: white;
                        }
                    }

                }
            }
        }
    }
}

.home {

    .wrapper {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
            padding: 60px 20px;
        }

        .intro {
            text-align: center;

            p {
                color: lightgray;
                font-size: 20px;

                @include mobile {
                    font-size: 15px;
                }
            }

            h1 {
                font-size: 45px;
                margin-top: 30px;

                @include mobile {
                    font-size: 30px;
                }
            }
        }

        img {
            width: 300px;
            border-radius: 50%;
            border: 5px solid #ff004f;

            @include mobile {
                width: 150px;
                border: 3px solid #ff004f;
            }
        }

        .dndCVbtn {
            margin-top: 20px;
            background-color: #ff004f;
            padding: 10px;
            border-radius: 10px;
            transition: 0.5s;

            @include mobile {
                padding: 8px;
                font-size: 13px;
            }

            &:hover {
                background-color: white;
                color: black;

            }
        }
    }
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;

    @include mobile {
        padding: 60px 20px;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        width: 650px;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        .skill-icon {
            background-color: lightgray;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                width: 100px;
                height: 100px;
            }

            .lazy-load-image-background {
                display: flex !important;
                align-items: center;
                justify-content: center;

                img {
                    width: 70px;

                    @include mobile {
                        width: 50px;
                    }
                }
            }
        }
    }
}

.work {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
        padding: 60px 20px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .container {
        height: 200px;
        width: 290px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        @include mobile {
            height: 180px;
            width: 250px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: inherit;
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
                opacity: 2;
            }

            .icon {
                width: 40px;
                height: 40px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                transition: all 0.5s ease;
                ;

                &:hover {
                    background-color: #e9f5f5;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.contact {
    padding: 100px;
    display: flex;
    justify-content: center;

    @include mobile {
        padding: 60px 20px;
        align-items: center;
    }

    .links {
        .info {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;

            a {
                transition: 0.5s;

                &:hover {
                    color: #ff004f;
                }

                @include mobile {
                    font-size: 12px;
                }
            }
        }
    }
}

.about {
    padding: 100px;
    text-align: center;

    @include mobile {
        padding: 60px 20px;
    }

    p {
        margin: 20px auto;
        width: 50%;
        line-height: 2rem;
        font-weight: 400;
        font-size: 1.2rem;

        @include mobile {
            width: 90%;
            text-align: left;

        }
    }
}

.red {
    color: #ff004f;
}

a {
    text-decoration: none;
}
