.navbar {
    padding: 20px 100px;

    .wrapper {
        display: flex;
        justify-content: space-between;

        .menu {
            display: flex;
            gap: 25px;

            .menu-item {
                cursor: pointer;

                a {
                    transition: 0.5s;
                    &.true{
                        color: #ff004f;
                    }

                    &:hover {
                        color: #ff004f;
                    }
                    
                }
            }
        }
    }
}

.home {

    .wrapper {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .intro {
            text-align: center;

            p {
                color: lightgray;
                font-size: 20px;
            }

            h1 {
                font-size: 45px;
                margin-top: 30px;
            }
        }

        img {
            width: 300px;
            border-radius: 50%;
            border: 5px solid #ff004f;
        }

        .dndCVbtn {
            margin-top: 20px;
            background-color: #ff004f;
            padding: 10px;
            border-radius: 10px;
            transition: 0.5s;

            &:hover {
                background-color: white;
                color: black;

            }
        }
    }
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;

    .icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        width: 650px;

        .skill-icon {
            background-color: lightgray;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 70px;
            }
        }
    }
}

.work {
    padding: 100px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    .container {
        flex: 1;
        height: 200px;
        width: 260px;
        background-color: lightcoral;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: inherit;
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
                opacity: 1;
            }

            .icon {
                width: 40px;
                height: 40px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                transition: all 0.5s ease;
                ;

                &:hover {
                    background-color: #e9f5f5;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.contact {
    padding: 100px;
    display: flex;
    justify-content: center;

    .links {
        .info {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;

            a {
                transition: 0.5s;

                &:hover {
                    color: #ff004f;
                }
            }
        }
    }
}

.about {
    padding: 100px;
    text-align: center;

    p {
        margin: 20px auto;
        width: 50%;
        line-height: 1.6;
    }
}

.red {
    color: #ff004f;
}

a {
    text-decoration: none;
}